$image: 'blue.png';

spacingDefaults{
    padding: .5em;
}

#container{
    width: 80%;
    margin: auto;
}

li{
    @extend spacingDefaults;
    list-style-type: none;
}

h1{
    @extend spacingDefaults;
    text-align: center;
    color: white;
}

header{
    background: url($image);
}

#bio{
    text-align: center;
}

@media screen and (max-width: 800px){
    body{
        background: gray;
    }
    header{
        background: black;
    }
}